[submodule "component-skeleton"]
	path = component-skeleton
	url = https://github.com/qubell-bazaar/component-skeleton.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
